*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(95, 255, 236);
}
header{
    height: 5rem;
    background-color: rgb(34, 167, 244);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

header .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    
}

#logo{
     height: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 0.5rem;
     font-size: 1.2rem;
     color: white;
}

#logoImg{
    height: 2rem;
}
#menubutton{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 3rem;
    
}


nav{
    display: none;
}

#productsList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}
.product {
    border: 1px solid rgb(141, 135, 135);
    padding: 1rem;
    border-radius: 0.5rem;
}

.product img{
    width: 100%;
}
.starRating{
    color: rgb(255, 177, 32);
}
.priceandbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}
.addBtn{
   padding: 0.5rem 0.7rem;
   background-color: rgb(24, 146, 24);
   border: none;
   color: white;
   border-radius: 0.25rem;
   font-size: 0.rem;
   transition: all ease-in 0.2s;

}
.addBtn:hover{
    background-color: rgb(52, 206, 52);
}


/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
    #productsList{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
    #menubutton{
        display: none;
    }
    nav{
        display: block;
    }
    nav ul{
        display : flex;
        flex-direction : row;
        align-items : center;
       list-style: none ;
        gap: 1rem;
        
    }
    nav a{
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }
    #productsList{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    /* Your styles for large screens go here */
    
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    
}
